*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
button{
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}
h2{
    color: white;
}
.logo-container,.nav-links{
    display: flex;
    align-items: center;
}
.logo{
    font-weight: 400;
    margin: 5px;
}
.logo-img{
    width: 30vh;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.nav-link{
    color: grey;
    font-size: 18px;
    text-decoration: none;
}
.subcard2{
    background: linear-gradient(to right, #252525, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo-container{
    flex: 1;   
}
nav{
    flex: 2;
}
.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 65vh;
    align-items: center;
    padding-bottom: 18%;
}
.introduction{
    flex: 2;
}
.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #3b3b3b, #c6c6c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p{
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}
.cta{
    padding: 50px 0px 0px 0px;
}
.cta-select{
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}
.cover{
    flex: 1;
}
.cover img{
    height: 40vh;
    animation: drop 1.5s ease;
}
.big-circle{
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0.4;
    height: 100%;
    z-index: -1;
    animation: drop 1.5s ease;
}
.medium-circle {
	position: absolute;
	top: 30%;
	right: 30%;
	height: 60%;
    opacity: 0.4;
    z-index: -1;
    animation: drop 1.5s ease;
}
.small-circle {
	position: absolute;
	bottom: 0%;
    left: 20%;
    z-index: -1;
    animation: drop 1.5s ease;
}
.subcard{
    padding-left: 2%;
}

.footer-container{
    text-align: center;
    height: 35vh;
    padding: 70px 0px 230px 50px;
    background: #414242;
    color: whitesmoke;
    display: flex;
    flex: 2;
}

.card-footer {
    align-self: auto;
    flex: 1;
    font-size: 11px;
    padding: 2%;
}
.fa {
    padding: 10px;
    font-size: 10px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 3px 3px;
    border-radius: 80%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }  
.copyright{
    text-align: center;
    background: #00563F;
    color: lightgray;
    font-size: 14px;
}
.subitem{
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 3%;
}
.subitem button{
    color: white;
    background-color: #1EF2A4;
    padding: 8px;
    opacity: 100%;
    border-radius: 5px 5px 5px 5px;
}
.subitem p {
    margin-top: 2%;
    color: white;
    font-size: 14px;
    /* background: linear-gradient(to right, #969595, #ffffff); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.subitem-container{
    text-align: center;
    font-size: 14px;
    height: 35vh;
    padding: 10%;
    /* margin: auto; */
    display: flex;
    flex: 2;
    color: white;
    background: linear-gradient(to right, #252525, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #serv {
    top: 20px;
    background-color: #006B3C;
  }
  
  #prices {
    top: 80px;
    background-color: #247924;
  }
  
  #about {
    top: 140px;
    background-color: #4CAF50;
  }
  
  #contact {
    top: 200px;
    background-color: #12E772
  }

/* ############################# */

  .lower-section,
  .upper-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(#2980b9, 0.5);
  
    span { font-size: 2.2rem; }
  } 
  .upper-section {
    min-height: 50vh;
    width: 100%;
    background: #087e1c;
  }
  .lower-section{
    min-height: 50vh;
    width: 100%;
    background:  white;
  }
  .section-divider {
    position: relative;
  }
  .section-divider:before {
        /* font-family: 'codepen'; */
        content: " "; 
        width: 6.5rem;
        height: 6.5rem;
        background: white;
        border-radius: 100%;
        position: absolute;
        top: -3.25rem;
        left: calc(50% - 3.25rem);
        color: rgba(#2980b9, 0.5);
        line-height: 6rem;
        text-indent: 1.8rem;
        font-size: 10pt;
      }

/* ####################################################### */


#btn {
    background: #414242;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 13px;
    font-family: ;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
    margin: 1%;
  }
  
  #btn #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  #btn:hover {
    background: transparent;
  }
  
  #btn:hover #circle {
    height: 50px;
    width: 150px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
  }
